.listContainer {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.dateDivider {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.dateBadge {
  background-color: var(--sub-color);
  color: #888;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 16px;
  border-radius: 20px;
}