.container {
    padding: 20px 10px;
}

.box {
    padding: 10px;
    border: 1px solid #eee;
    background-color: #fff;
    margin: 10px 0px;
    border-radius: 10px;
}

.title {
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: 500;
    color: #999;
}

.content {
    margin: 0;
    text-align: left;
}
