.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--other-color);
}

.strength {
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--sub-color);
}

.error {
  font-size: 12px;
  color: red;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--other-color);
}


.strengthBar {
  height: 6px;
  width: 100%;
  background: #ddd;
  border-radius: 4px;
  margin-bottom: 12px;
  overflow: hidden;
}

.strengthFill {
  height: 100%;
  width: 0%;
  transition: 0.3s;
}


.level0 { width: 20%; background: red; }
.level1 { width: 40%; background: orange; }
.level2 { width: 60%; background: yellow; }
.level3 { width: 80%; background: lightgreen; }
.level4 { width: 100%; background: green; }

.error {
  font-size: 12px;
  color: red;
  margin-bottom: 8px;
}

.passwordWrapper {
  position: relative;
}

.passwordInput {
  padding-right: 40px;
}


.eyeIcon {
  position: absolute;
  right: 4%;
  top: 40%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}


.strengthBar {
  height: 6px;
  width: 100%;
  background: #ddd;
  border-radius: 4px;
  margin-bottom: 12px;
  overflow: hidden;
}

.strengthFill {
  height: 100%;
  width: 0%;
  transition: 0.3s;
}

.level0 { width: 20%; background: red; }
.level1 { width: 40%; background: orange; }
.level2 { width: 60%; background: yellow; }
.level3 { width: 80%; background: lightgreen; }
.level4 { width: 100%; background: green; }

.error {
  font-size: 12px;
  color: red;
  margin-bottom: 8px;
}