/* :root {
  --main-color: #F0F7FF;
  --sub-color: #0066CC;
  --other-color: #87D4FF;
} */

:root {
	--main-color: #F8F8FB;
	--sub-color: #44558D;
	--other-color: #CDD4E3;
	/* 共通ブランドカラー (#44558d) */
	--header-color: #44558D;
	--footer-active-color: #44558D;
	--fab-color: #44558D;
}

body {
	margin: 0px;
	background-color: var(--main-color);
}